<div id="section-1">
<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>
</div>

<div id="section-2">
</div>

<div id="section-3">
</div>

<div id="section-4">
</div>

<div id="section-5">
</div>

<div id="section-6">
</div>

<div id="section-7">
</div>

<footer>
</footer>