<div id="section-1">
<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>
</div>

<div id="section-2">
	<center>
	<h1>Nature is not a place to visit. It is home.</h1> 
	<h3>― Gary Snyder</h3>		
	</center>
	<%= image_tag("rocket_icon.svg", size: "200", id: "icon-1") %>
	<%= image_tag("satellite_icon.svg", size: "200", id: "icon-2") %>
	<%= image_tag("astronaut_icon.svg", size: "200", id: "icon-3") %>
	<span id="icon-label-1">Begin Your Journey</span>
	<span id="icon-label-2">Stay In Touch</span>
	<span id="icon-label-3">Make Your Mark</span>

</div>

<div id="section-3">
</div>

<div id="section-4">
</div>

<div id="section-5">
</div>

<div id="section-6">
</div>

<div id="section-7">
</div>

<footer>
</footer>