<div id="section-1">
<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>
</div>

<div id="section-2">
	<center>
	<h1 id="quote">"Wherever you go, go with all your heart"</h1> 
	<h3>― Confucius</h3>		
	</center>

	<div id="icons">
	  <div id="icon-div-1">
	    <%= image_tag("rocket_icon.svg", size: "200", id: "icon-1") %>
	    <div class="icon-label">Begin Your Journey</div>
	    <p>
	    	Take your first steps into your new life. Our agents work directly with  homesteaders to secure approval for your trip, and guarantee a comfortable
	        journey in two months or less.
	    </p>
      </div>

	  <div id="icon-div-2">
	    <%= image_tag("satellite_icon.svg", size: "200", id: "icon-2") %>
	    <div class="icon-label">Stay In Touch</div>
	      <p>
	      	All properties listed on Red Planet Rentals are required by law to provide
	      	unlimited text, voice and video messaging to Earth. Paid options are available for streaming video via ComcastFlix!
	      </p>
      </div>

	  <div id="icon-div-3">
	    <%= image_tag("astronaut_icon.svg", size: "200", id: "icon-3") %>
	    <div class="icon-label">Make Your Mark</div>
	      <p>
	      	The passage of the Mars Homestead Act of 2350 guarantees all Mars Colonists*
	      	250 cubic acres of land of their chosing. Are you the 
	      	next Martian folk hero, industrial tycoon, or titan of trade? The only limits
	      	are your dreams, and breathable air.
      </div>
    </div>

	<br>

</div>

<div id="section-3">
</div>

<div id="section-4">
</div>

<div id="section-5">
</div>

<div id="section-6">
</div>

<div id="section-7">
</div>

<footer>
</footer>