.signup-ad {

	.icon-container {
		display: flex;
		margin: 5%;
		padding: 0;

		img.icon {
			flex: 1;
		}

		p {
		font-size: 1em;
		flex: 3;
		align-self: center;
		}
	}
}

.signup-form {
	margin: 10% 5% 5% 5%;
}