// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css?family=Special+Elite|Bad+Script|Cookie|Great+Vibes|Kaushan+Script|Marck+Script|Poiret+One|Tangerine|Yellowtail|Rajdhani');

html,body {
  margin:0;
  padding:0;
  height: 100
}



/*=============================*/
/*===FIRST MEDIA QUERY START===*/
/*=============================*/

@media (max-width: 720px) {

  nav {
    height: 50px;
    background-color: #f9e4d9;
    label {
  }

    label:after {
    font-size: 3em;
        position: absolute;
        right: 5%;
        top: 3%;
        content: "\2261";
    }
  
    ul {
      display: none;
    }

    input:checked ~ ul {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      top: 10%;
      z-index: 2;

      > li {
        display: block;
          width: 50%;
          background-color: #f9e4d9;
          padding-bottom: 3%;
          text-align: center;

        &:first-child {
          padding-top: 3%;
        }        
        a {
          text-decoration:none;
        }
      }        
    }

  }

#section-1 {
  height: 400px;
  background-image: url("martian_landscape3.png");
  background-repeat: no-repeat;
  background-position: center;

 h1 {
   font-size: 3em;
   position: relative;
   color: white;
   text-align: center;
   line-height: 1.3em;
   padding: 75px 5% 0 5%;
 }

 form {
   text-align: center;
   padding-top: 10%;
 }
}

#section-2 {
  color: white;
  background-color: #3F607F;

  h1{




    font-family: 'Kaushan Script', cursive;
font-weight: 100;



   font-size: 3em;
   position: relative;
   color: white;
   line-height: 1.3em;
   padding: 15px 5% 5% 5%;
  }

  h2 {
      font-family: 'Kaushan Script', cursive;
font-weight: 100;
    padding: 0 5% 10% 0;
    text-align: right;
  }
}

#icons {
  padding: 5% 10% 5% 10%;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-label {
  padding-top: 13%;
  padding-bottom: 5%;
}

.icon-container{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20%;
}

#section-3 {
  background-image: url("mars_landscape2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* prevent margin collapse */
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;

}

#transparency {
  color: white;
  margin: 5% 10% 5% 10%;
  padding-bottom: 1%;
  background: black;
  opacity: .5;
}

#transparency p {
  color: white;
  font-size: 1.5em;
  line-height: 1em;
  margin: 2% 5% 5% 5%;
}

#transparency h1 {
  padding: 5% 1% 0 5%;
}

#section-4 {
  background-color: grey;
  overflow: hidden;

  h1{



    font-family: 'Rajdhani', sans-serif;

    font-size: 3em;
    position: relative;
    color: white;
    text-align: center;
    line-height: 1.3em;
    padding: 15px 5% 0 5%;
  }

  #reviews {
    margin: 5% 5% 0 5%;
    height: 90%;

    .review-container{
      
      img {
        height: 20%;
        width: 100%;
        margin-bottom: 5%;
      }

      .review-content {
        color: white;
        padding: 4% 5% 5% 5%;
        margin-bottom: 10%;
        font-size: 1.25em;
      }
      
      .stars {
        color: white;
        padding-top: 5%;
        font-size: 3em;
        text-align: center;
      }
    }
  }
}



#section-5{
  background-color: #3F607F;
    text-align: center;
  h1{
    font-size: 1.9em;
    position: relative;
    color: white;
    line-height: 1.3em;
    padding: 15px 5% 0 5%;
  }

  button {
    margin: 5%;
  }
}

#section-6 {
  background-image: url("mars_landscape1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  
  /* prevent margin collapse */
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;
  
  h1{
  line-height: 1.1em;
  margin: 10% 10% 0 10%;
  }

  h3{
  text-align: right;
    margin: 5% 5% 5% 5%;
    color: white;
  }
}

footer {
  background-color: #3F607F;
  /* prevent margin collapse */
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;

  #footer-container {
    margin: 5%;
  
  h2 { 
    color: white;

    }  

  ul {
    margin: 5%;
    columns: 2;
    list-style: none;

    li {

      font-size: 1.3em;
      color: ff7c3b; 

      a {
        text-decoration: none;
              color: #ff7c3b; 

      }
  }
  }
a.fa {
font-size: 2em;
padding: 7%;
}
}
.copyright-container {
background-color: black;
              color: #3F607F; 
text-align: center;
padding: 5%;
}
}



}

/*=============================*/
/*===FIRST MEDIA QUERY END=====*/
/*=============================*/


#logo {

height: 100%;
} 

input[type=checkbox] {
  position: absolute;
  left: -9999px;
  top: -9999px;
}






/*=============================*/
/*==SECOND MEDIA QUERY START===*/
/*=============================*/

@media (min-width: 720px) {

h1 {
	padding: 20px;
}

#section-1 {
	height: 570px;
  background-image: url("martian_landscape3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#section-2 {
	color: white;
  background-color: #3F607F;
  background-size: 100%;
}

#section-2 h1{
	padding-top: 50px;
	font-size: 4em;
}

#icons {
  display: flex;
  padding: 5% 10% 5% 10%;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-label {
	padding-top: 13%;
	padding-bottom: 5%;
}

#icon-div-1{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  flex-basis: 25%;
}

#icon-div-2{
	font-size: 1.5em;
	font-weight: bold;
  text-align: center;
  flex-basis: 25%;
	
}

#icon-div-3{
	font-size: 1.5em;
	font-weight: bold;
  text-align: center;
  flex-basis: 25%;
	
}

#section-3 {
  background-image: url("mars_landscape2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90%;
  overflow: auto;
}

#transparency {
  color: white;
	margin: 5% 10% 0 10%;
  padding-bottom: 1%;
 	background: black;
 	opacity: .5;
}

#transparency p {
  color: white;
  font-size: 1.5em;
  line-height: 1em;
  margin: 2% 5% 5% 5%;
}

#transparency h1 {
  padding: 5% 1% 0 5%;
}

#section-4 {
    height: 90%;
    background-color: grey;
    overflow: hidden;
}

#reviews {
  margin: 5% 5% 0 5%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.review-container{
  height: 50%;
  width: 30%;
}

.review {
  height: 100%;
}

#review-1 {
  background-image: url('./kristen-bell.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 10%;
}

#review-2 {
  background-image: url('./mel-johnson-jr.jpg');
  height: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
}

#review-3 {
  background-image: url('./matt-damon.jpg');
  height: 100%;
  background-size: 120%;
  background-repeat: no-repeat;
}

.rating {
color: white;
  padding-top: 5%;
  font-size: 3em;
  text-align: center;
}

.review-container p {
  color: white;
  padding-top: 5%;
}

#section-5{
  background-color: green;
}

#section-5 h1 {
}

#section-5 button {
}

#call-container {
  display: flex;
  justify-content: center;
  padding: 5%;
  text-align: center;
}



#button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

#section-6 {
  height: 50%;
  background-image: url("mars_landscape1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#quote-container {
    display: flex;
  justify-content: center;
  height: 50%;
  align-items: flex-end;
}

#attribution-container {
    display: flex;
  justify-content: center;
  align-items: center;
}


#section-6 h1 {
}
}

/*=============================*/
/*===SECOND MEDIA QUERY END====*/
/*=============================*/
