// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,body {
  margin:0;
  padding:0;
  height: 100%;
}


@media (max-width: 720px) {
#section-1 {
  height: 450px;
  background-image: url("martian_landscape3.png");
  background-repeat: no-repeat;
  background-position: center;
}

  nav {

    height: 50px;
    background-color: white;
    label {
    }

    label:after {
    font-size: 3em;
        position: absolute;
        right: 2%;
        top: 1%;
        content: "\2261";
    }
  
    ul {
      display: none;
    }

    input:checked ~ ul {
      position: absolute;
      display: block;
      width: 100%;

      > li {
        display: block;
          width: 50%;
          background-color: white;
          padding-bottom: 3%;
        
        &:first-child {
          padding-top: 3%;
        }        
        a {
          text-decoration:none;
        }
      }        
    }

  }
}

#logo {

height: 100%;
}

input[type=checkbox] {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

#section-1 {
 h1 {
 color: white;
 text-align: center;
 padding: 20% 5% 0 5%;
 }

 form {
   text-align: center;
   padding-top: 10%;
 }



}

@media (min-width: 720px) {

h1 {
	padding: 20px;
}

#section-1 {
	height: 570px;
  background-image: url("martian_landscape3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#section-2 {
	color: white;
  background-color: #3F607F;
  background-size: 100%;
}

#section-2 h1{
	padding-top: 50px;
	font-size: 4em;
}

#icons {
  display: flex;
  padding: 5% 10% 5% 10%;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-label {
	padding-top: 13%;
	padding-bottom: 5%;
}

#icon-div-1{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  flex-basis: 25%;
}

#icon-div-2{
	font-size: 1.5em;
	font-weight: bold;
  text-align: center;
  flex-basis: 25%;
	
}

#icon-div-3{
	font-size: 1.5em;
	font-weight: bold;
  text-align: center;
  flex-basis: 25%;
	
}

#section-3 {
  background-image: url("mars_landscape2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90%;
  overflow: auto;
}

#transparency {
  color: white;
	margin: 5% 10% 0 10%;
  padding-bottom: 1%;
 	background: black;
 	opacity: .5;
}

#transparency p {
  color: white;
  font-size: 1.5em;
  line-height: 1em;
  margin: 2% 5% 5% 5%;
}

#transparency h1 {
  padding: 5% 1% 0 5%;
}

#section-4 {
    height: 90%;
    background-color: grey;
    overflow: hidden;
}

#reviews {
  margin: 5% 5% 0 5%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.review-container{
  height: 50%;
  width: 30%;
}

.review {
  height: 100%;
}

#review-1 {
  background-image: url('./kristen-bell.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 10%;
}

#review-2 {
  background-image: url('./mel-johnson-jr.jpg');
  height: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
}

#review-3 {
  background-image: url('./matt-damon.jpg');
  height: 100%;
  background-size: 120%;
  background-repeat: no-repeat;
}

.rating {
color: white;
  padding-top: 5%;
  font-size: 3em;
  text-align: center;
}

.review-container p {
  color: white;
  padding-top: 5%;
}

#section-5{
  background-color: green;
}

#section-5 h1 {
}

#section-5 button {
}

#call-container {
  display: flex;
  justify-content: center;
  padding: 5%;
  text-align: center;
}



#button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

#section-6 {
  height: 50%;
  background-image: url("mars_landscape1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#quote-container {
    display: flex;
  justify-content: center;
  height: 50%;
  align-items: flex-end;
}

#attribution-container {
    display: flex;
  justify-content: center;
  align-items: center;
}


#section-6 h1 {
}
}