// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 @import "bootstrap";



html,body {
    margin:0;
    padding:0;
    height: 100%;
}

h1 {
	padding: 20px;
}

#section-1 {
	height: 570px;
    background-image: url("martian_landscape3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#section-2 {
	color: white;
   background-color: #3F607F;
    background-size: 100%;
}

#section-2 h1{
	padding-top: 50px;
	font-size: 4em;
}

#icons {
  display: flex;
  padding: 5% 10% 5% 10%;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-label {
	padding-top: 13%;
	padding-bottom: 5%;
}

#icon-div-1{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  flex-basis: 25%;
}

#icon-div-2{
		font-size: 1.5em;
		font-weight: bold;
  text-align: center;
  flex-basis: 25%;
	
}

#icon-div-3{
		font-size: 1.5em;
		font-weight: bold;
  text-align: center;
  flex-basis: 25%;
	
}

#section-3 {
background-image: url("mars_landscape2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90%;
    overflow: auto;
}

#transparency {
  color: white;
	margin: 5% 10% 0 10%;
  padding-bottom: 1%;
 	background: black;
 	opacity: .5;
}

#transparency p {
  color: white;
  font-size: 1.5em;
  line-height: 1em;
  margin: 2% 5% 5% 5%;
}

#transparency h1 {
  padding: 5% 1% 0 5%;
}