// Place all the styles related to the Neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.neighborhood{
width: 100%;
height: 100%;

.hero-container {
position: relative;
	background-repeat: no-repeat;
	width: 100%;
	height: 45%;
	background-size: 100%;
	  /* prevent margin collapse */
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;

 h1 {
 	position: absolute;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

	color: white;
	font-size: 4.5em;
	line-height: 1.3em;
	text-align: center;
 }

  h3 {
  color: white;
    font-size: 1.5em;
    margin-top: 2%;
    text-align: center;
  }
}

p {
	  /* prevent margin collapse */
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;
  text-align: center;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

h1 {
	text-align: center;
	margin: 2%;
}


.listing-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 4%;
}

}